@page
@model irobot.Pages.LoginModel
@{
}

<form action="" method="post">
    <input type="text" asp-for="user.email" placeholder="Email Name">
    <input type="text" asp-for="user.password" placeholder="Password">
    <input type="submit" value="Sign Up" class="btn btn-danger">
</form>
